tags
*.lock
*.d
*.o
*.a
*.elf
*.elf.size
*.log
*.jou
*.tree
*.snap
*.markers
*.history*
*.indexes*
*.index
*.pdom
*.bit
*.swp
*.metadata*
*cache
*ps7_cortexa9_0*
*.jobs*
*xst*
*bmm
*ngc
*webtalk_pa.xml
**/edk/system/hdl/**
**/edk/system/implementation/**
**/edk/system/synthesis/**
**/edk/system/__xps/ise/_xmsgs/**
**/*.runs/**
**/*.data/wt/java_command_handlers.wdf
**/*.data/wt/project.wpc
*.opt
**/edk/system/__xps/pa/_system_genbxml.tcl
**/edk/system/__xps/pa/_system_synth.tcl
**/edk/system/system.bxml
**/edk/system/system.make
**/edk/system/system_incl.make
**/edk/system/XpsGuiSessionLock
**/edk/system/__xps/gensav_cmd.xml
**/edk/system/__xps/ise/system.xreport
**/edk/system/etc/system.gui
**/edk/system/__xps/ps7_instance.mhs
**/Debug/makefile
**/Debug/objects.mk
**/Debug/sources.mk
**/Debug/src/subdir.mk
**/edk/system/__xps/.dswkshop/**
**/hw/imgs/**
**/edk/system/__xps/pa/**
